@import "src/index";

.cardClothes{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: $size * 1.5 0 $size * 2.5 0;
  max-width: $size * 30;
  background-color: lightgray;
  transition: 0.3s;
  &:hover {
    box-shadow: 0 0 $size $size * 0.1 gray;
    scale: 1.04;
  }

  .wrapClothes{
    & > img {
      width: 100%;
      border-radius: $size;
    }

    .clothesImg{

    }

    .category{
      max-width: $size * 30;
      margin: $size * 0.5 0 $size * 0.5 0;
    }

    .title{
      max-width: $size * 30;
      margin: $size * 0.2 0 $size * 0.2 0;
      font-size: $size * 1.4;
      font-weight: 500;
    }

    .description{
      max-width: $size * 30;
      margin: $size * 0.2 0 $size * 0.2 0;
      font-size: $size * 1.4;
      font-weight: 500;
    }

    .wrapPrice{
      max-width: $size * 30;
      margin: $size * 0.2 0 $size * 0.2 0;
      font-size: $size * 1.4;
      font-weight: 500;
    }
  }
}