@import "src/index";
.title{
  margin-left: $size;
}
.wrapContacts{
  box-sizing: border-box;
  padding: $size;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  div{
    p{
      margin-bottom: $size;
      &:first-child{
        font-weight: bold;
        margin-bottom: $size * 1.5;
      }

      svg{
        font-size: 30px;
        margin-right: 10px;

        &:first-child{
          fill: $colorViber;
        }

        &:last-child{
          fill: $colorTelegram;
        }
      }
    }

    button{
      padding: $size $size * 2;
      background-color: $colorBg4;
      border: none;
      color: $colorDefault;
      font-size: $size * 1.5;

      &:hover{
        background-color: lighten($colorBg4, 10%)
      }
    }
  }
}