@import "src/index";

.backImg {
  height: 100vh;
  background-image: url(../assets/img/Rita_Homepage_1944x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.mainPage {

  p {
    color: $colorFont;
    font-size: $size * 4;
    font-weight: lighter;
    padding-left: $size * 29.7;
    padding-top: $size * 15;
  }

}