body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


$colorDefault: white;
$colorActive: #0f7dc6;
$colorFont: #040704;
$colorBg: #515151;
$colorBg2: #171B1E;
$colorBg3: #B6C0BB;
$size: 10px;
$fontDancingScript: 'Dancing Script', cursive;
