@import "src/index";

$widthNav: $size * 20;
$heightHeader: $size * 10;
$heightFooter: $size * 10;

.header {
  height: $heightHeader;
  background-color: $colorBg;
  color: $colorDefault;
}

.containerMain {
  display: flex;

  .nav {
    width: $widthNav;
    background-color: lightgray;
    min-height: calc(100vh - $heightHeader - $heightFooter);
  }

  .main{
    width: calc(100% - $widthNav);
    background-color: lightblue;
  }
}

.footer{
    height: $heightFooter;
    background-color: $colorBg;
    color: $colorDefault;

}